.header {
  font-family: "Ubuntu Regular", Helvetica, Arial, sans-serif
}

th, td {
  text-align: left;
  padding: 8px;
}

.content li:not(:last-child) {
  margin-bottom: 15px;
}

/*
small {
  color: #BB816A;
}
*/

tr:nth-child(even){background-color: #f2f2f2}

.portrait {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form input, form textarea {
  width: 100%;
  border: solid 2px #b1b1b1;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  font-size: 16px;
}

#menu .brand {
  font-size: 1.4em;
}

code {
  font-weight: bold;
}

pre code {
  font-weight: normal;
}


/*
#menu {
  background: #FBF1C7;
}
  #menu a {
    color: #9D0006;
  }
/*
#menu {
  background: #FBF1C7;
}
  #menu a {
    color: #9D0006;
  }

  #menu .pure-menu ul,
  #menu .pure-menu .menu-item-divided {
    border-top: 1px solid #F2E3BC;
  }
    #menu .pure-menu li a:hover,
    #menu .pure-menu li a:focus {
        background: #F2E3BC;
    }
    */