@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: normal;
	src:
		local('Ubuntu Regular'),
		local('Ubuntu-Regular'),
		/* from https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw72.woff2 */
		url('/font/Ubuntu.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw7w.woff */
		url('/font/Ubuntu.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw7y.eot */
		url('/font/Ubuntu.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/l/font?kit=4iCs6KVjbNBYlgoKfw7x&skey=7e59fc036a1a8481&v=v13#Ubuntu */
		url('/font/Ubuntu.svg#Ubuntu') format('svg'),
		/* from https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw7z.ttf */
		url('/font/Ubuntu.ttf') format('truetype');
}
