{{ if .Params.Comments }}
<div>
  <h2 style="margin-top: 50px;">Comments</h2>
  <ul style="margin-top: 20px;">
    {{ range .Params.Comments }}
    <li>
      {{ . }}
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}