</div>
</div>
<script src="{{ .Site.BaseURL }}js/ui.js"></script>
<script src="{{ .Site.BaseURL }}js/menus.js"></script>

{{ partial "google_analytics.html" . }}
{{ partial "goat_counter.html" . }}
{{ partial "piwik_analytics.html" . }}

</body>
</html>
